<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xgimi.xgimiservice"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="36" />
    <application android:label="Mock XGIMI Service">
        <service
            android:name=".services.XgimiServices"
            android:exported="true" />
    </application>
</manifest>
